@using WebshopBeheer.Models.CommercieelManagerModels;
@model BestellingenViewModel

<h2>@ViewData["Title"].</h2>
<p>Overzicht van alle bestellingen. Klik op goedkeuren om een bestelling door te zetten naar het magazijn.</p>

@if (!Model.Bestellingen.Any())
{
    <p>Geen ongekeurde bestellingen</p>
}
else
{
    @foreach (var bestelling in Model.Bestellingen)
    {

        <div class="col-md-12">
            <h4>Bestel ID</h4>
        </div>
        <div class="col-md-12">
            @bestelling.Id
        </div>
        <div class="col-md-12">
            <h4>Klant</h4>
        </div>
        <div class="col-md-12">
            <dl>
                <dt>Voornaam</dt>
                <dd>@bestelling.Klant.Voornaam</dd>
                <dt>Achternaam</dt>
                <dd>@bestelling.Klant.Achternaam</dd>
                <dt>Adres</dt>
                <dd>@bestelling.Klant.Adres</dd>
                <dt>Postcode</dt>
                <dd>@bestelling.Klant.Postcode</dd>
                <dt>Plaatsnaam</dt>
                <dd>@bestelling.Klant.Plaatsnaam</dd>
                <dt>Telefoonnummer</dt>
                <dd>@bestelling.Klant.Telefoonnummer</dd>
            </dl>
        </div>
        <div class="col-md-12">
            <h4>Bestel Datum</h4>
        </div>
        <div class="col-md-12">
            @bestelling.BestelDatum
        </div>

        <div class="row">

            <div class="row">
                <div class="col-md-4">
                    Id
                </div>
                <div class="col-md-4">
                    Naam
                </div>
                <div class="col-md-4">
                    Prijs
                </div>
                <div class="col-md-4">
                    Aantal
                </div>
            </div>

        </div>
        @foreach (var artikel in bestelling.Artikelen)
        {
            <div class="row">
                <div class="col-md-4">
                    @artikel.Id
                </div>
                <div class="col-md-4">
                    @artikel.Naam
                </div>
                <div class="col-md-4">
                    @artikel.Prijs
                </div>
                <div class="col-md-4">
                    @artikel.Aantal
                </div>
            </div>
        }


        <div class="col-md-12">
            <h4>Afronden</h4>
            <div class="col-md-4">
                <button>Goedkeuren</button>
                <button>Afkeuren</button>
            </div>
        </div>
    }
}
