@using WebshopBeheer.Models.CommercieelManagerModels;
@model BestellingenViewModel

<h2>@ViewData["Title"].</h2>
<p>Overzicht van alle bestellingen. Klik op goedkeuren om een bestelling door te zetten naar het magazijn.</p>

@if (!Model.Bestellingen.Any())
{
    <p>Geen ongekeurde bestellingen</p>
}
else
{
    @foreach (var bestelling in Model.Bestellingen)
    {

        <div class="col-md-12">
            <h4>Bestel ID</h4>
        </div>
        <div class="col-md-12">
            @bestelling.Id
        </div>
        <div class="col-md-12">
            <h4>Klant</h4>
        </div>
        <div class="col-md-12">
            <dl>
                <dt>Voornaam</dt>
                <dd>@bestelling.Klant.Voornaam</dd>
                <dt>Achternaam</dt>
                <dd>@bestelling.Klant.Achternaam</dd>
                <dt>Adres</dt>
                <dd>@bestelling.Klant.Adres</dd>
                <dt>Postcode</dt>
                <dd>@bestelling.Klant.Postcode</dd>
                <dt>Plaatsnaam</dt>
                <dd>@bestelling.Klant.Plaatsnaam</dd>
                <dt>Telefoonnummer</dt>
                <dd>@bestelling.Klant.Telefoonnummer</dd>
            </dl>
        </div>
        <div class="col-md-12">
            <h4>Bestel Datum</h4>
        </div>
        <div class="col-md-12">
            @bestelling.BestelDatum
        </div>

        <div class="col-md-12">
            <h4>Artikelen</h4>
        </div>
        <div class="row">

            <div class="row">
                <div class="col-md-3 col-sm-3">
                    Id
                </div>
                <div class="col-md-3 col-sm-3">
                    Naam
                </div>
                <div class="col-md-3 col-sm-3">
                    Prijs
                </div>
                <div class="col-md-3 col-sm-3">
                    Aantal
                </div>
            </div>

        </div>
        @foreach (var artikel in bestelling.Artikelen)
        {
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    @artikel.Id
                </div>
                <div class="col-md-3 col-sm-3">
                    @artikel.Naam
                </div>
                <div class="col-md-3 col-sm-3">
                    @artikel.Prijs
                </div>
                <div class="col-md-3 col-sm-3">
                    @artikel.Aantal
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-6 col-sm-6">
                Totaal
            </div>
            <div class="col-md-3 col-sm-3">
                @(bestelling.Artikelen.Sum(x => x.Prijs * x.Aantal))
            </div>
        </div>


        <div class="col-md-12">
            <h4>Afronden</h4>
            <div class="col-md-4">
                @Html.ActionLink("Goedkeuren", "KeurBestellingGoed", null, new { id = "keurBestellingGoed" })
                @Html.ActionLink("Afkeuren", "KeurBestellingAf", null, new { id = "keurBestellingAf" })
            </div>
        </div>
    }
}
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

<script>
    $("#keurBestellingGoed").click(function (e) {

        e.preventDefault();
        $.ajax({

            url: $(this).attr("href"), // comma here instead of semicolon   
            success: function () {
                alert("Value Added");  // or any other indication if you want to show
            }

        });

    });
</script>
