@using WebshopBeheer.Models.MagazijnMedewerkerModels;
@model BestellingViewModel

<h2>@ViewData["Title"].</h2>
<p>Overzicht van eerste bestelling om te verzenden. Klik op de bestelling af te ronden wanneer een bestelling is verstuurd.</p>

@if(Model == null)
{
    <p>Alle bestellingen zijn op dit moment afgehandeld</p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <h4>Bestel ID</h4>
        </div>
        <div class="col-md-4">
            <h4>Klant</h4>
        </div>
        <div class="col-md-4">
            <h4>Bestel Datum</h4>
        </div>
        <div class="col-md-4">
            <h4>Afronden</h4>
        </div>
    </div>

    <div class="row">

        <div class="col-md-4">
            <h4>@Model.Id</h4>
        </div>
        <div class="col-md-4">
            <h4>@Model.BestelDatum</h4>
        </div>
        <div class="col-md-4">
            <ul>
                @foreach (var artikel in Model.Artikelen)
                {
                    <li>
                        <dd>
                            <td>Id</td>
                            <dd>@artikel.Id</dd>
                            <td>Naam</td>
                            <dd>@artikel.Naam</dd>
                            <td>Aantal</td>
                            <dd>@artikel.Aantal</dd>
                            <td>Categorieen</td>
                            @foreach (var categorie in artikel.Categorieen)
                            {
                                <dd>@categorie</dd>
                            }
                        </dd>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Klant</h4>
            <dd>
                <dt>Voornaam</dt>
                <dd>@Model.Klant.Voornaam</dd>
                <dt>Achternaam</dt>
                <dd>@Model.Klant.Achternaam</dd>
                <dt>Adres</dt>
                <dd>@Model.Klant.Adres</dd>
                <dt>Postcode</dt>
                <dd>@Model.Klant.Postcode</dd>
                <dt>Plaatsnaam</dt>
                <dd>@Model.Klant.Plaatsnaam</dd>
                <dt>Telefoonnummer</dt>
                <dd>@Model.Klant.Telefoonnummer</dd>
            </dd>
        </div>

        <div class="col-md-4">
            <button>Afronden</button>
        </div>
    </div>
}

